/* You can add global styles to this file, and also import other style files */
body {
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
    //cursive
}
h1{
    font-weight: 600;
    font-size: 3.5rem;
}